<a href="https://colab.research.google.com/github/dhanushka365/Ensemble_Learner/blob/work/Simple_Ensemble_Learner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_iris

import pandas as pd
import numpy as np

In [ ]:
data = load_iris()
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

# Convert the Numpy array into a dataframe

In [ ]:
d={
   'sepal length': data.data[50:,1], #get first 50 rows of first column
   'petal length': data.data[50:,2],
   'Species':np.array([i for i in data.target if i>0])
}

In [ ]:
df = pd.DataFrame(d)
df
#species 1 represent versicolor and 2 represent virginica

    sepal length  petal length  Species
0            3.2           4.7        1
1            3.2           4.5        1
2            3.1           4.9        1
3            2.3           4.0        1
4            2.8           4.6        1
..           ...           ...      ...
95           3.0           5.2        2
96           2.5           5.0        2
97           3.0           5.2        2
98           3.4           5.4        2
99           3.0           5.1        2

[100 rows x 3 columns]